/* ------------------------------------- */
/* 	Global Styles 											 */
/* ------------------------------------- */

body {
	background: $color-black;
	color: 			$color-white;
}

/* ------------------------------------- */
/* 	Transitions 	 											 */
/* ------------------------------------- */

a {
	transition: color 0.17s ease-in-out;
}

.app {
	display: flex;
	flex-direction: column;
}

.page {
	padding: $padding-large;
}
