<div class="roleSliderContainer">
	<div class="roleSlider">
		<div class="roleSliderHeader">
			<h5>Robinson Lam</h5>
		</div>
		<div class="roleSliderBody">
			<div class="roleSliderContent">
				<span class="jumbo webRole">
					<span class="category">web</span>
					<span class="seperator">.</span>
					<span class="role">developer</span>
				</p>
			</div>
			<!-- {{ range $key, $index := $.Site.Data.landing.roles }}
				<div class="roleSliderContent">
					<p class="webRole">
						<span>{{ $key }}</span>
						{{ range $index }}
							<span>{{ . }}</span>
						{{ end }}
					</p>
				</div>
			{{ end }} -->
		</div>
	</div>
</div>
