/* ------------------------------------- */
/* 	Home Page Styles										 */
/* ------------------------------------- */

.page#home {
	flex: 1;

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	#backgroundRenderer {
		width: 100vw;
		max-height: 100vh;

		z-index: -10;

    position: absolute;
    top: 0;
    left: 0;

		&::after {
			position: absolute;
			left: 0;
			top: 0;

			height: 100%;
			width: 100%;

			content: '';

			background: rgba(0, 0, 0, 0.18);
		}
	}

	.landingText {
		cursor: default;

		.highlight {
			color: $color-black;
			position: relative;
		}
	}
}

@media all and (min-width: 769px) {
	.landingText {
		.highlight {
			margin-left: 10px;

			&::before {
				z-index: -2;
				position: absolute;

				left: 10px;
				right: -5px;
				top: 25px;
				bottom: 25px;

				background: $color-white;
				content: '';
			}

			&::after {
				z-index: -1;
				position: absolute;

				left: -7px;
				right: 10px;
				top: 20px;
				bottom: 35px;

				background: $color-yellow;
				content: '';
			}
		}
	}
}

@media all and (max-width: 480px) {
	.landingText {
		.highlight {
			&::before {
				left: 10px;
				right: -5px;
				top: 25px;
				bottom: 5px;
			}

			&::after {
				left: -2px;
				right: 2px;
				top: 5px;
				bottom: 10px;
			}
		}
	}
}

@media all and (min-width: 481px) and (max-width: 900px) {
	.landingText {
		.highlight {
			&::before {
				left: 10px;
				right: -5px;
				top: 25px;
				bottom: 15px;
			}

			&::after {
				left: -2px;
				right: 2px;
				top: 5px;
				bottom: 20px;
			}
		}
	}
}
