<!DOCTYPE html>
<html>
	<head>
			{{ partial "styles.html" . }}
	    <title>{{ .Title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<div class="globalHeader">
			<div class="headerIcon">
				{{ $logoWhite := resources.Get "images/RL_LOGO_WHITE.svg" }}
				<img src="{{ $logoWhite.RelPermalink }}" alt="image">
			</div>

			<div class="headerNav">
				<h4><a href="#">Work</a></h4>
				<h4><a href="#">About</a></h4>
				<h4><a href="#">Contact</a></h4>
			</div>
		</div>
		<div class="app">
