/* ------------------------------------- */
/* 	Variables 													 */
/* ------------------------------------- */

$color-black: 		#091925;
$color-white:			#F9F9F9;
$color-gray: 			#8C8C8C;
$color-yellow: 		#FFB000;
