/* ------------------------------------- */
/* 	Footer Styles 											 */
/* ------------------------------------- */

body {
	display: 				flex;
 	min-height: 		100%;
 	flex-direction: column;
}

.app {
	flex: 1;
}

footer {
}

.footerMain {
	color: 					$color-white;

	padding:				$padding-general;

	display:				flex;
	flex-direction: row;
	align-items: 		center;

	a {
		color: 						$color-white;
		text-decoration: 	none;

		&:hover {
			color: 			$color-yellow;
		}
	}
}

.footerNavContainer {
	display:				flex;
	flex-direction: row;
	align-items:		center;

	a {
		padding:			$padding-general;
	}
}

.footerIcon {
	padding:				$padding-general;

	img {
		height: 			40px;
	}

}

.footerNav {
	display: 				flex;
	flex-direction: row;
}

.footerSocial {
	display:				flex;
	flex-direction: column;
	margin-left: 		auto;
	padding: 				$padding-general;
	padding-bottom:	0;

	.socialHeading {
		padding-bottom: $padding-half;
		border-bottom: 	$divider-line-height solid $color-white;
	}
}

.socialIcons {
	display: 				flex;
	flex-direction: row;
	align-items: 		flex-start;

	margin-left:		-($padding-half);

	a {
		padding:			$padding-general $padding-half;
		i {
			font-size: 	18px;
		}
	}
}

@media all and (max-device-width: 900px) {
	.footerNavContainer {
		display: none;
	}

	.socialHeading {
		display: none;
	}

	.footerSocial {
		margin-right: auto;
		padding: 0;
	}

	.socialIcons {
		align-items: center;

		a {
			padding: $padding-general;

			i {
				font-size: 20px;
			}
		}
	}
}

@media all and (min-device-width: 481px) and (max-device-width: 900px) {
	.footerMain {
		align-items: flex-end;
	}

	.footerSocial {
		margin-left: auto;
		margin-right: 0;
	}
}
