/* ------------------------------------- */
/* 	Variables 													 */
/* ------------------------------------- */

$color-black: 				#091925;
$color-white:					#F9F9F9;
$color-gray: 					#8C8C8C;
$color-yellow: 				#FFB000;


$padding-small:				5px;
$padding-half:				10px;
$padding-general:			20px;
$padding-large:				40px;


$divider-line-height: 3px;
